<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AGDCBacklightControl</string>
	<key>CFBundleGetInfoString</key>
	<string>3.16.16, Copyright 2008-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AGDCBacklightControl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AGDCBacklightControl</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.16.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.16.16</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9M189u</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17A330e</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0900</string>
	<key>DTXcodeBuild</key>
	<string>9M189u</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGDCBL</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>Default</key>
				<data>
				AAAHQAr3//4=
				</data>
				<key>F10T9c83D</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zwDI
				</data>
				<key>F10T9c84</key>
				<data>
				ABEAAAAvADYAQABLAFgAZwB3AIsArwDdARgBYAG6AiwC
				vwN1
				</data>
				<key>F10T9c85</key>
				<data>
				ABEAAAAvADcAQgBOAFwAbQCAAJcAvQDvAS8BfgHgAl4C
				/AO+
				</data>
				<key>F10T9c86</key>
				<data>
				ABEAAAAvADcAQgBOAFwAbQCAAJcAvQDvAS8BfgHgAl4C
				/AO+
				</data>
				<key>F10T9c98</key>
				<data>
				ABEAAAAQABUAHgAmADEAQABQAGIAgQCoANcBGwF1AfIC
				pwP/
				</data>
				<key>F10T9c99</key>
				<data>
				ABEAAAAQABUAHQAlAC8APQBMAF0AeQCdAMsBCAFbAdAC
				cQNi
				</data>
				<key>F10T9ca2</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9ca3</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9ca4</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cac</key>
				<data>
				ABEAAAAQABUAHQAlAC8APQBMAF0AeQCdAMsBCAFbAdAC
				cQNi
				</data>
				<key>F10T9cad</key>
				<data>
				ABEAAAAQABUAHgAmADEAQABQAGIAgQCoANcBGwF1AfIC
				pwP/
				</data>
				<key>F10T9cb0</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb1</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb2</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb6</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwP/
				</data>
				<key>F10T9cb7</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwP/
				</data>
				<key>F10T9cb8</key>
				<data>
				ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkD
				DgPR
				</data>
				<key>F10T9cb9</key>
				<data>
				ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkD
				DgPR
				</data>
				<key>F10T9cba</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwP/
				</data>
				<key>F10T9cbb</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwP/
				</data>
				<key>F10T9ccd</key>
				<data>
				ABEAAAAmAC0AOQBIAFsAcgCQALcA4AEVAVcBqgIRApMD
				PwP/
				</data>
				<key>F10T9cce</key>
				<data>
				ABEAAAAmAC0AOQBIAFsAcgCQALcA4AEVAVcBqgIRApMD
				PwP/
				</data>
				<key>F10T9ccf</key>
				<data>
				ABEAAAAmAC0ANgBDAFQAaQCFAKkAzwD/AUYBiAHnAl0C
				8gOw
				</data>
				<key>F10T9cd0</key>
				<data>
				ABEAAAAmAC0ANgBDAFQAaQCFAKkAzwD/AUYBiAHnAl0C
				8gOw
				</data>
				<key>F10T9cf5</key>
				<data>
				ABEAAAAQABUAHQAlADAAPgBOAGAAewCfAMsBBQFTAbwC
				UAMt
				</data>
				<key>F10T9cf6</key>
				<data>
				ABEAAAAQABUAHQAlADAAPgBOAGAAewCfAMsBBQFTAbwC
				UAMt
				</data>
				<key>F12P9c5c</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F14T9ca3</key>
				<data>
				ABEAAAATAB8AMABBAFgAcgCWAMAA9AErAWkBsQIJAnIC
				7gOB
				</data>
				<key>F14T9ca4</key>
				<data>
				ABEAAAATAB8AMABBAFgAcgCWAMAA9AErAWkBsQIJAnIC
				7gOB
				</data>
				<key>F14T9cb6</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9cb7</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9cb8</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9cb9</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9cba</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9cbb</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14T9ccd</key>
				<data>
				ABEAAAAWACMAMgBGAF4AewCgAMwBAQFAAYsB5AJSAscD
				VwP/
				</data>
				<key>F14T9cce</key>
				<data>
				ABEAAAAWACMAMgBGAF4AewCgAMwBAQFAAYsB5AJSAscD
				VwP/
				</data>
				<key>F14T9ccf</key>
				<data>
				ABEAAAAVACEALwBBAFgAcwCVAL4A7wEqAXABwgIjApUD
				GgO1
				</data>
				<key>F14T9cd0</key>
				<data>
				ABEAAAAVACEALwBBAFgAcwCVAL4A7wEqAXABwgIjApUD
				GgO1
				</data>
				<key>F14Ta004</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14Ta005</key>
				<data>
				ABEAAAAVACIANQBJAGIAgwCsANwBFAFMAZQB5gJNAsUD
				VAP/
				</data>
				<key>F14Ta00e</key>
				<data>
				ABEAAAAUACAAMABDAFwAegCfAMsBAQFBAYwB5gJQAtID
				XAP/
				</data>
				<key>F14Ta00f</key>
				<data>
				ABEAAAAUACAAMABDAFwAegCfAMsBAQFBAYwB5gJQAtID
				XAP/
				</data>
				<key>F14Ta019</key>
				<data>
				ABEAAAAQABsAKQA7AFEAbACOALcA6AElAW0BxQIvAq8D
				SQP+
				</data>
				<key>F14Ta022</key>
				<data>
				ABEAAAAQABsAKQA7AFEAbACOALcA6AElAW0BxQIvAq8D
				SQP+
				</data>
				<key>F14Ta02e</key>
				<data>
				ABEAAAAQABsAKAA5AE8AaQCKALIA4gEdAWMBuAIfApsD
				MQPh
				</data>
				<key>F14Ta02f</key>
				<data>
				ABEAAAAQABsAKAA5AE8AaQCKALIA4gEdAWMBuAIfApsD
				MQPh
				</data>
				<key>F16Ta030</key>
				<data>
				ABEAAAAKAA4AEgAYACAALAA7AFAAbQCVAMwBFwF+Ag0C
				0gP1
				</data>
				<key>F16Ta031</key>
				<data>
				ABEAAAAKAA4AEgAYACAALAA7AFAAbQCVAMwBFwF+Ag0C
				0gP1
				</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGDCBacklightControl</string>
			<key>IOClass</key>
			<string>AGDCBacklightControl</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>3.16.16, Copyright © 2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleBacklightExpert</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.3.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
