<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>#Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>######### DSDT MARKS ##############</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					D/8=
					</data>
					<key>Replace</key>
					<data>
					D/8=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - DSDT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RFNEVDkfAQACUEhBU0VFIFBBUkFESVNFOAAA
					AA==
					</data>
					<key>Replace</key>
					<data>
					NDQ1MzQ0NTQgMzkxRjAxMDAgMDI1MDQ4NDEg
					NTM0NTQ1MjAgNTA0MTUyNDEgNDQ0OTUzNDUg
					NWY0NDUzNDQ1NCAzODAwMDAwMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U1NEVLEAAAABu0hBU0VFIFBBUkFESVNFABAA
					AA==
					</data>
					<key>Replace</key>
					<data>
					NTM1MzQ0NTQgQjEwMDAwMDAgMDFCQjQ4NDEg
					NTM0NTQ1MjAgNTA0MTUyNDEgNDQ0OTUzNDUg
					NWYzMCAwMDEwMDAwMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					kg8AAAGVSEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					kg8AAAGVSEFTRUUgUEFSQURJU0VfMQAQAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					aQEAAAGRSEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					aQEAAAGRSEFTRUUgXzIAEAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					OQUAAAEuSEFTRUUgUEFSQURJU0UAMAAA
					</data>
					<key>Replace</key>
					<data>
					OQUAAAEuSEFTRUUgUEFSQURJU0VfMgAwAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-4</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					2AoAAAHtSEFTRUUgUEFSQURJU0UAMAAA
					</data>
					<key>Replace</key>
					<data>
					2AoAAAHtSEFTRUUgUEFSQURJU0VfNAAwAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-5x</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					qgUAAAHTUG1SZWYAQXBJc3QAAAAAMAAA
					</data>
					<key>Replace</key>
					<data>
					qgUAAAHTUG1SZWYAQXBJc3QAAABfNXgAMAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-6x</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					0wMAAAGzUG1SZWYAQ3B1MENzdAABMAAA
					</data>
					<key>Replace</key>
					<data>
					0wMAAAGzUG1SZWYAQ3B1MENzdABfNngBMAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-7x</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					GQEAAAHvUG1SZWYAQXBDc3QAAAAAMAAA
					</data>
					<key>Replace</key>
					<data>
					GQEAAAHvUG1SZWYAQXBDc3QAAABfN3gAMAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-8</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					xwEAAAFqSEFTRUUgUEFSQURJU0UAMAAA
					</data>
					<key>Replace</key>
					<data>
					xwEAAAFqSEFTRUUgUEFSQURJU0VfOAAwAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-9</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FQMAAAFNSEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					FQMAAAFNSEFTRUUgUEFSQURJU0VfOQAQAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-10</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RxwAAAFGSEFTRUUgUEFSQURJU0UAMAAA
					</data>
					<key>Replace</key>
					<data>
					RxwAAAFGSEFTRUUgUEFSQURJU0VfMTAAMAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					OxEAAAGESEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					OxEAAAGESEFTRUUgUEFSQURJU0VfMTEAEAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					kwMAAAE+SEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					kwMAAAE+SEFTRUUgUEFSQURJU0VfMTIAEAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-13</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					xAoAAAFISEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					xAoAAAFISEFTRUUgUEFSQURJU0VfMTMAEAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					yRwAAAErSEFTRUUgUEFSQURJU0UAEAAA
					</data>
					<key>Replace</key>
					<data>
					yRwAAAErSEFTRUUgUEFSQURJU0VfMTQAEAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					0AAAAAGASEFTRUUgUEFSQURJU0UAMAAA
					</data>
					<key>Replace</key>
					<data>
					0AAAAAGASEFTRUUgUEFSQURJU0VfMTUAMAAA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DSDT MARKS - SSDT-99</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UEFSQURJU0U=
					</data>
					<key>Replace</key>
					<data>
					RGVyZWtaaHU=
					</data>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixHPET</key>
				<true/>
				<key>FixHeaders</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>10.11+-Rename-HECI2IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA (?)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _Q12 to XQ12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMg==
					</data>
					<key>Replace</key>
					<data>
					WFExMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _Q11 to XQ11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMQ==
					</data>
					<key>Replace</key>
					<data>
					WFExMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,N) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwA=
					</data>
					<key>Replace</key>
					<data>
					WldBSwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,S) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WldBSwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,N) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAA=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,N) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAA=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,N) to XPRW, pair with SSDT-UPRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBSVwpwEg==
					</data>
					<key>Replace</key>
					<data>
					WFBSVwpwEg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GLAN to LANC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0xBTg==
					</data>
					<key>Replace</key>
					<data>
					TEFOQw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,S) to Method(XPRW,0,..), pair with SSDT-LANC_PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AAAZABQfX1BSVwg=
					</data>
					<key>Replace</key>
					<data>
					AAAZABQfWFBSVwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name (_ADR, 0x00190000) Method(_PRW to Name (_ADR, 0x00190000) Method(XPRW, pair with SSDT-GLAN_PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0FEUgwAABkAFA9fUFJX
					</data>
					<key>Replace</key>
					<data>
					X0FEUgwAABkAFA9YUFJX
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable B0D3/HDEF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					k0FVVkQL//8=
					</data>
					<key>Replace</key>
					<data>
					k///C///
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>#PluginType</key>
			<integer>1</integer>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 keepsyms=1 kextlog=0xffff -lilubeta -igfxbeta -hbfxdbg -hbfxbeta -hbfx-patch-pci abm_firstpolldelay=5000 debug=0x12a acpi_layer=0x08 acpi_level=0x02 msgbuf=131072</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<true/>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>layout-id</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>layout-id</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<data>
				CwAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<data>
				CwAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device_type</string>
				<key>Value</key>
				<data>
				Cg0AAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device_type</string>
				<key>Value</key>
				<data>
				Cg0AAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<data>
				CwAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>PinConfigurations</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<data>
				CwAA
				</data>
			</dict>
		</array>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-1</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-2</string>
			</dict>
		</array>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>PciAddr</key>
				<string>00:00.00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>31</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
			<key>WIFI</key>
			<string>0x43a014E4</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>Hide</key>
		<array>
			<string>personal</string>
			<string>backup</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>Material</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>##ig-platform-id</key>
		<string>0x0a260006</string>
		<key>EDID</key>
		<dict>
			<key>##Custom</key>
			<data>
			AP///////wAw5HycAAAAAAAZAQTlIxN46gz1oFtVkiYMUFQAAADR
			wNHe0eMBAQEBAQEBAQEBalKAoHA4L0AwZDUA4A4RAAAaOVeAoHA4
			MkAwZDUA4A4RAAAa70SAoIDII0AwZDUAIDIhAAAa/EwAoJAQJVAw
			ZDUAQEQhAAAaAC4=
			</data>
			<key>##HorizontalSyncPulseWidth</key>
			<integer>100</integer>
			<key>#Custom</key>
			<data>
			AP///////wAw5HycAAAAAAAYAQSVIxN46gz1oFtVkiYMUFQvzwDx
			wPHeAQEBAQEBAQEBAQEBLjaAoHA4H0AwZDUA4A4RAAAY70iAoHA4
			KkAwZDUA4A4RAAAaalKAoHA4L0AwZDUA4A4RAAAaAAAAEAAAAAAA
			AAAAAAAAAAAAALI=
			</data>
			<key>#VideoInputSignal</key>
			<string>0xA0</string>
			<key>HorizontalSyncPulseWidth</key>
			<string>0x64</string>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>0x9c7c</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0d260007</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				sABMi1Xw
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				SIPEQF3D
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.11.x</string>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes, vbo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0d260007 19+9=28MB DVMT pre-allocated memory, Derek, as an alternative to changing bios settings, disables this if you can encrease DVMT-prealloc through bios setting</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BwAmDQEDBAMAAAAEAAAgAgAAUAE=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BwAmDQEDBAMAAAAEAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0d260007 23+9=32MB DVMT pre-allocated memory, Derek, as an alternative to changing bios settings, disables this if you can encrease DVMT-prealloc through bios setting</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BwAmDQEDBAMAAAAEAAAgAgAAUAE=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BwAmDQEDBAMAAAAEAABwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0d260007 43+21=64MB DVMT pre-allocated memory, Derek, as an alternative to changing bios settings, disables this if you can encrease DVMT-prealloc through bios setting</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BwAmDQEDBAMAAAAEAAAgAgAAUAE=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BwAmDQEDBAMAAAAEAABwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 20 in XHCI kext (9-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////FQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable board-id check to prevent no signal (c) lvs1974, Pike R. Alpha, vit9696</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ugUAAAA=
				</data>
				<key>MatchOS</key>
				<string>10.9.3,10.9.4,10.9.5,10.10.x,10.11.x,10.12.x,10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				ugAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleGraphicsDevicePolicy (board-id) Patch (c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Ym9hcmQtaWQ=
				</data>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				Ym9hcmQtaXg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes, vbo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>patch_AppleRTC</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dS4Ptg==
				</data>
				<key>Name</key>
				<string>AppleRTC</string>
				<key>Replace</key>
				<data>
				6y4Ptg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3 after wake for Intel 8 series chipset</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSU=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yU=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.13 beta (based on denskop patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSI=
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yI=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-5GHz-US-FCC-dv</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPort Extreme</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3b</string>
		<key>MLB</key>
		<string>C02351201CXFP5C15</string>
		<key>ROM</key>
		<data>
		DE3pLX1A
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>01/05/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.0142.B00.1708080655</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02417500GUF0V58C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>MacBookPro11,2</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE00FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>#Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1600</integer>
					<key>Part</key>
					<string>M471B1G73QH0-YK0</string>
					<key>Serial</key>
					<string>0906010104080108</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Slot</key>
					<integer>1</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Samsung</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>9905428-012.A00LF</string>
					<key>Serial</key>
					<string>080F01090403060A</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1066</integer>
					<key>Part</key>
					<string>M471B5673FH0-CF8</string>
					<key>Serial</key>
					<string>09070C09090A020C</string>
					<key>Size</key>
					<integer>2048</integer>
					<key>Slot</key>
					<integer>3</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Samsung</string>
				</dict>
			</array>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,3</string>
		<key>SerialNumber</key>
		<string>C02L7V1PFD56</string>
		<key>SmUUID</key>
		<string>2E5D87BF-1A7E-466E-AEF5-401E036FC013</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>9E96C829-98A1-715B-BDED-BCEBE3B7CB25</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectKexts_</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
