<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.iokit.IOGraphicsFamily</string>
		<key>DisplayProductID</key>
		<integer>1103</integer>
		<key>DisplaySerialNumber</key>
		<integer>0</integer>
		<key>DisplayVendorID</key>
		<integer>12516</integer>
		<key>IOClass</key>
		<string>AppleDisplay</string>
		<key>IODisplayAttributes</key>
		<dict>
			<key>IODisplayAttributes</key>
			<data>
			Z2F0dgAAAABzZ2xmAAAAAHJsb2MBAAAAY3BiIAEAAABjZGcAgICA
			AGdsZmQAAAAA
			</data>
		</dict>
		<key>IODisplayConnectFlags</key>
		<data>
		AAgAAA==
		</data>
		<key>IODisplayEDID</key>
		<data>
		AP///////wAw5E8EAAAAAAAYAQSVIxN46gz1oFtVkiYMUFQAAAABAQEBAQEB
		AQEBAQEBAQEBLjaAoHA4H0AwIDUAWcIQAAAZAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA/gBMRyBEaXNwbGF5CiAgAAAA/gBMUDE1NldGNC1TUEwxABM=
		</data>
		<key>IODisplayParameters</key>
		<dict>
			<key>bgsc</key>
			<dict>
				<key>max</key>
				<integer>65536</integer>
				<key>min</key>
				<integer>0</integer>
				<key>value</key>
				<integer>65536</integer>
			</dict>
			<key>bklt</key>
			<dict>
				<key>max</key>
				<integer>2777</integer>
				<key>min</key>
				<integer>0</integer>
				<key>value</key>
				<integer>680</integer>
			</dict>
			<key>ggsc</key>
			<dict>
				<key>max</key>
				<integer>65536</integer>
				<key>min</key>
				<integer>0</integer>
				<key>value</key>
				<integer>65536</integer>
			</dict>
			<key>rgsc</key>
			<dict>
				<key>max</key>
				<integer>65536</integer>
				<key>min</key>
				<integer>0</integer>
				<key>value</key>
				<integer>65536</integer>
			</dict>
			<key>vblm</key>
			<dict>
				<key>max</key>
				<integer>196608</integer>
				<key>min</key>
				<integer>0</integer>
				<key>value</key>
				<integer>65536</integer>
			</dict>
		</dict>
		<key>IODisplayPrefsKey</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0/display0/AppleDisplay-30e4-44f</string>
		<key>IOMatchCategory</key>
		<string>IODefaultMatchCategory</string>
		<key>IOObjectClass</key>
		<string>AppleDisplay</string>
		<key>IOObjectRetainCount</key>
		<integer>7</integer>
		<key>IOPowerManagement</key>
		<dict>
			<key>CapabilityFlags</key>
			<integer>49152</integer>
			<key>CurrentPowerState</key>
			<integer>3</integer>
			<key>MaxPowerState</key>
			<integer>3</integer>
		</dict>
		<key>IOProbeScore</key>
		<integer>2000</integer>
		<key>IOProviderClass</key>
		<string>IODisplayConnect</string>
		<key>IORegistryEntryID</key>
		<integer>4294968496</integer>
		<key>IORegistryEntryName</key>
		<string>AppleDisplay</string>
		<key>IOServiceBusyState</key>
		<integer>0</integer>
		<key>IOServiceBusyTime</key>
		<integer>102681</integer>
		<key>IOServiceState</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
